body {
    --font-size-default: 16px;
    --font-family-default: "Roboto", "Lato", sans-serif;

    --color-text-default: #000000;
    --color-text-grey: #484848;
    --color-orange: #ff9900;
    --color-white: #ffffff;
    --color-grey: #e0e0e0;
    --color-theme-main: #ffa319;
    --color-price: #ff0000;
}
