.footerMenu {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
}

.footerMenu div {
    color: var(--color-text-default);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.footerMenu li {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footerMenu li a {
    color: var(--color-text-default);
}

.footerMenu a:hover {
    color: var(--color-theme-main);
    transition: color 0.3s;
}

@media screen and (max-width: 800px) {
    .footerMenu {
        flex-direction: column;
        gap: 1rem;
    }
}
