.newsHeader {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.productsWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .productsWrapper {
        justify-content: center;
    }
}
