.favoriteProduct {
    display: flex;
    gap: 3rem;

    padding: 1rem 0;
    border-top: solid 1px var(--color-text-grey);
    margin: 0.5rem 0;
}

.favoriteProduct img {
    width: 170px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favoriteProductInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 2rem;
}

.brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text-black);
}
