.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-grey);
    color: var(--color-text-default);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
    padding: 1rem;
    position: relative;
}

.footer p {
    font-size: 0.8rem;
    bottom: 0;
    padding-bottom: 0.5rem;
    position: absolute;
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
}
