.breadcrumbs {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.breadcrumbs li a {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.breadcrumbs li a:global(.active) {
    font-weight: bold;
}

.breadcrumbs img {
    transform: rotate(-90deg);
    margin-left: 0.5rem;
}

.breadcrumbs li:last-of-type img {
    display: none;
}

@media (max-width: 700px) {
    .breadcrumbs {
        gap: 0.5rem;
        padding-left: 0.5rem;
    }
}
