.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.thumbnails img {
    width: 85px;
    height: 120px;
    cursor: pointer;
}

.thumbnails img.active {
    border: 2px solid var(--color-theme-main);
}

.main {
    width: 400px;
    height: 500px;
    margin-bottom: 4rem;
}

.photos {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 1000px) {
    .thumbnails {
        flex-direction: row;
    }

    .main {
        margin-bottom: 0.5rem;
    }
    .photos {
        flex-direction: column-reverse;
        gap: 1rem;
    }
}
