.expandableMenu {
    min-width: 12rem;
    margin-top: 1rem;
    padding-left: 2%;
}

.expandableMenu p {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.expandableMenu li {
    margin-bottom: 0.5rem;
}

.expandableMenu li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expandableMenu li ul {
    padding-left: 2rem;
    margin-top: 0.5rem;
}

.expandableMenu a:global(.active) {
    font-weight: bold;
}

.expanded {
    transform: rotate(180deg);
}
